# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024-2025 Univention GmbH

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: '^.*\.patch'

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      # "Check for added large files"
      - id: "check-added-large-files"
      # "Check for merge conflicts"
      - id: "check-merge-conflict"
      # "Check Yaml"
      - id: "check-yaml"
        args:
          # Allow custom tags like Gitlab's "!reference" tag.
          - "--unsafe"
        exclude: "^helm/.+/templates/|^ci/"
      # "Trim Trailing Whitespace"
      - id: "trailing-whitespace"
        # TODO: "ci/dev-values.yaml" does require a few trailing whitespaces
        # until the UCR value handling has been refactored.
        # See: https://git.knut.univention.de/univention/customers/dataport/team-souvap/-/issues/739
        exclude: "^ci/dev-values\\.yaml$"
      - id: "end-of-file-fixer"
        exclude: "^helm/.+/README\\.md$"

  # "Commit messages"
  - repo: "https://github.com/compilerla/conventional-pre-commit"
    rev: "v2.4.0"
    hooks:
      - id: "conventional-pre-commit"
        stages: ["commit-msg"]

  - repo: "https://git.knut.univention.de/univention/infrastructure/pre-commit-hooks/check-issue-reference"
    rev: "v1.0.1"
    hooks:
      - id: check-issue-reference

  - repo: "https://github.com/norwoodj/helm-docs"
    rev: "v1.11.0"
    hooks:
      - id: "helm-docs"
        args:
          - "--chart-search-root=helm"
          - "--template-files=README.md.gotmpl"

  - repo: https://gitlab.com/univention/pre-commit-hooks/docker-compose-check
    rev: 7702a8801a158b8595569dd29e2dd655d8a08310
    hooks:
      - id: docker-compose-check

  # "Helm chart linter"
  - repo: "https://github.com/gruntwork-io/pre-commit"
    rev: "v0.1.23"
    hooks:
      - id: "helmlint"

  - repo: "https://git.knut.univention.de/univention/infrastructure/pre-commit-hooks/addlicense"
    rev: "v1.0.1"
    hooks:
      - id: "addlicense"
        name: "Check or add license headers to files"

  - repo: "local"
    hooks:
      - id: "test-helm-template"
        name: "Test Helm template rendering"
        entry: "ci/test-helm-template.sh"
        language: "script"
        files: "^helm/nubus/(prod-values\\.yaml|demo-values\\.yaml|example\\.yaml|values\\.yaml)$"
        pass_filenames: false
