# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH
---

global:
  configUcr:
    directory:
      manager:
        rest:
          show-tracebacks: true
    umc:
      http:
        show_tracebacks: true
    password:
      quality:
        length:
          min: 8
        required:
          chars: ""
        forbidden:
          chars: ""
        credit:
          digits: 0
          upper: 0
          other: 0
          lower: 0
        mspolicy: false

# This makes the entry for the UMC login visible again

# stack-data-swp:
#   stackDataSwp:
#     extraDataFiles:
#       99-dev-env-overrides.yaml: |
#         {{`
#         {{ with .Values.stackDataContext }}
#         ---
#         action: "modify"
#         module: "portals/entry"
#         position: "cn=login-ucs,cn=entry,cn=portals,cn=univention,{{ .ldapBase }}"
#         properties:
#           activated: true
#         {{ end }}
#         `}}
